body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: verdana;
    color: #4D4D4D;
}

.text-center{
    text-align: center;
}

.color-ff{
  color: #FFFFFF;
  font-family: 'Ubuntu';
  font-weight: lighter;
}

.color-ff2{
  color: #FFFFFF;
  font-family: 'Ubuntu';
  font-weight: lighter;
  font-size: 1.8em;
}

.color-blue{
    color: #006853;
}

.color-green{
    color: #006853;
}

.color-gray{
    color: #4D4D4D;
}

.color-orange{
    color:#EA5412;
}

.color-pink{
    color: #DE9E80;
}

.fs-36{
    font-size: 3.6em;
}

.fs-26{
    font-size: 2.6em;
}

.fs-12{
    font-size: 1.2em;
}

.fs-18{
  font-size: 1.8em;
}

.bkg-red{
 background-color: red;
}



/* Cabeçalho */

.header{

    min-height: 692px; 
    min-width: 1280px;
    width: 100%;
    margin: 0 auto 120px auto;
    background-size: cover;
    position: relative;
    background: url('../../images/fke/fke-01.png') no-repeat center;
    
}

.header.header2{
    background:url('../../images/fke/fke2-01.png') no-repeat center;
}


.header .logo-header{

    position: absolute;
    top: 100px;
    left: 300px;
}


.header h1 {
    font-family: 'Ubuntu';
    font-size: 6em;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 300px;
    top: 300px;
}

.header h2 {
    font-family: 'Ubuntu';
    font-size: 6em;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 300px;
    top: 380px;
} 

.header h3 {
    font-family: 'Ubuntu';
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 300px;
    top: 500px;
}

.header h4 {
    font-family: 'Ubuntu';
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 300px;
    top: 550px;
}        

h1{
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 6em;
    color: #006853;
}

h2{
    font-family: 'Ubuntu';
    font-weight: 'medium';
    font-size: 4em;
    color: #EA5412;
}


h3{
    font-family: 'Ubuntu';
    font-weight: inherit;
    font-size: 4em;
    color: #006853;
}

    
h4{
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 2em;
    color: #EA5412;
}

h4 .h4-2{
    font-weight: Medium;
    font-size: 2.4em;
}

h5{
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 2em;    
}

  /* PAGINA 2 */

.verd{
    font-weight: 'Ligth';
    font-size: 1.8em;
}  




.h2-2{
    font-family: 'Ubuntu';
    font-weight: 'medium';
    font-size: 4.5em;
    color: #EA5412;
}

.tooltip-link{
    font-family: verdana;
    font-weight: bold;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #74B959;
    text-decoration: none;
}
 /* Classe para retirar o "x" */
.qtip-tip, .qtip-icon .ui-icon {
    display: none !important;
  }

.qtip-default{
    background: #74B959;
    color: #FFFFFF;
    border: none !important; 
    border-radius: 12px;
    font-size: 1.4em;
    padding: 10px;

}

.h3-2{
    font-family: 'Ubuntu';
    font-weight: 'Medium';
    font-size: 3.6em;
    color: #006853;
}



.img-background{
    min-height: 500px; 
    max-width: 1024px;
    width: 100%;
    position: relative;
    background-size: cover;
    background: url('../../images/fke/fke2-05.png') no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px 0px 100px;
    
}

.img-background .text{
    font-weight: bold;
    font-size: 2.4em;
    color: white;
}

.img-2-background{
    min-height: 400px; 
    max-width: 1024px;
    width: 100%;
    position: relative;
    background-size: 100% 100%;
    background: url('../../images/fke/fke2-06.png') no-repeat center;
    display: flex;
    justify-content: center;
    padding: 100px 200px 0px 200px;
    
}

.img-2-background .text{
    font-weight: bold;
    font-style: italic;
    font-size: 2.4em;
    color: white;
}

/* TABELA VERTICAL ------------------------------------------------------------------------------------------*/
.tab-vertical .tab-menu-item{
    background: transparent;
    margin-bottom: 20px;
}

.tab-vertical .tab-menu-link{
    padding: 15px 10px;
    border-radius: 16px;
    border: 2px solid #EA5412;
    font-size: 2.4em;
    text-align: center;
    color: #EA5412;
    transition: 300ms;
    margin-right: 15px;
}

.tab-vertical .tab-menu-item.is-active .tab-menu-link{
    color: white;
    background: #74B959;
    border: 2px solid #74B959;
    
}

.tab-vertical .tab-menu-item:hover .tab-menu-link{
    color: white;
    background: #74B959;
    border: 2px solid #74B959;
}

.tab-vertical .tab-content{
  background: #74B959;
  border-radius: 20px;
  min-height: 260px;
  padding: 45px 45px 30px 45px;
  display: flex;
  align-items: center;
}

.tab-vertical .tab-content p{
    color: white;
}

/* Tabela horizontal -------------------------------------------------------------------------------------*/

.tab-horizontal .tab-menu-item{
    background: transparent;
    margin-bottom: 20px;
}

.tab-horizontal .tab-menu-link{
    padding: 15px 10px;
    border-radius: 16px;
    border: 2px solid #EA5412;
    font-size: 2.4em;
    text-align: center;
    color: #EA5412;
    transition: 300ms;
    margin-right: 15px;
}

.tab-horizontal .tab-menu-item.is-active .tab-menu-link{
    color: white;
    background: #74B959;
    border: 2px solid #74B959;
    
}

.tab-horizontal .tab-menu-item:hover .tab-menu-link{
    color: white;
    background: #74B959;
    border: 2px solid #74B959;
}

.tab-horizontal .tab-content{
    background: #74B959;
    border-radius: 20px;
    min-height: 260px;
    padding: 45px 45px 30px 45px;
    display: flex;
    align-items: center;
  }

.tab-horizontal .tab-content p{
  color: white;
}

/* CAROUSEL */

.carousel {
  margin: 30px auto 70px auto;
  width: 100%;
  position: relative;
}

.carousel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 517px;
  background: url(../../images/fke/fke-24.png) center no-repeat;
  background-size: contain;
  height: 434px;
  
}

.carousel .slideshow-item {
  position: relative !important;
}


.carousel .slideshow-content {
  display: block;
  padding-left: 350px;
  min-height: 395px;
  position: relative;
  margin-top: 10px;
}


.carousel .slideshow-img {
  display: block;
  position: absolute;
  top: 50px;
  z-index: 10; /* camadas do HTML o laranja ta 1 e o velinho em qualuqer uma acima */
  left: 0;
}

.carousel .slideshow-item .slideshow-caption {
  width: 100%;
  max-width: 717px;
  text-align: center;
  border-radius: 52px;
  padding: 40px 60px 100px 200px;
  background:#DE9E80;
  position: relative;
  min-height: 395px;
  height: 450px !important;
}
.carousel .slideshow-item .slideshow-caption p {
  color: #ffffff;
}

.carousel .slideshow-nav {
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translateX(calc(-50% + 230px));
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel .slick-arrow {
  width: 45px;
  height: 41px;
  color: transparent;
  transition: opacity 300ms;
  font-size: 0em;
}

.carousel .slick-arrow:hover {
  opacity: .5;
}

.carousel .slideshow-prev {
  background: url(../../images/ico/ico-carousel-prev.png) center no-repeat;
}

.carousel .slideshow-next {
  background: url(../../images/ico/ico-carousel-next.png) center no-repeat;
}

.carousel .slick-arrow.slick-disabled {
  opacity: .1;
  pointer-events: none;
}

.carousel .slick-dots {
  display: flex;
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(calc(-50% + 230px));
}

.carousel .slick-dots li {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff;
  margin: 0 4px;
  opacity: .2;
}

.carousel .slick-dots li.slick-active {
  opacity: 1;
}

.carousel .slick-dots li:hover {
  opacity: .7;
}

.carousel .slick-dots li button {
  border: none;
  background: transparent;
  color: transparent;
  font-size: 0rem;
}
/* CAROUSEL FIXO */

.carousel-fixed::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 517px;
  background: url(../../images/fke/fke-25.png) center no-repeat;
  background-size: contain;
  height: 434px;
}

 /* -ACCORDION---------------------------------------------------------------------------------------------- */

  .accordion-item {
    border-bottom: 3px solid #EA5412;
  }

  .accordion-title {
    padding: 60px 20px 35px 115px;
    color: #EA5412;
    font-size: 24px;
    font-family: 'Ubuntu';
    position: relative;
    margin-bottom: 0;
  }

  .accordion-item.is-open .accordion-title {
    background: #F6D0BE; /* pq branco? e pq no titulo */
    color: #EA5412;
  }

  .accordion-title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    width: 71px;
    height: 71px;
    transform: translateY(-50%); /* o que é esse translate */
    background: url(../../images/ico/ico-accordion-open.svg) center no-repeat;
    background-size: contain;
  }
  
  .accordion-item.is-open .accordion-title::before {
    background: url(../../images/ico/ico-accordion-close.svg) center no-repeat;
    background-size: contain;
  }
    
  .accordion-item.is-open .accordion-content {
    background: #F6D0BE;
    padding: 0px 40px 20px 100px;
    /* text-align: center; */
  }

  .accordion-content p {
    color: #4D4D4D;
    font-family: verdana;
  }
 
/* FLASHCARD-------------------------------------- */

.flashcard-bkg {
  width: 100%;
  background: url(../../images/fke/fke-26.png) center no-repeat;
  background-size: 140% 100%;
  padding-top: 200px; 
  min-height: 1119px;
}


.flashcard {
  margin: 40px auto 0 auto;
  width: 100%;
  max-width: 1024px;
  padding-bottom: 130px;
}

.flashcard .card {
  width: 100%;
  max-width: 372px;
  height: 504px;
  border-radius: 45px;
  margin: 20px auto 0 auto;
  transform: scale(.9);
  /* somente para funcionar em outros navegadores */
  -webkit-transition: -moz-transform .3s ease-out;
  -moz-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
}

.flashcard .slideshow-item.slick-current .card {
  transform: scale(1);
}

.flashcard .card.card-normal {
  transform: scale(1);
}

/* .flashcard .slick-list.draggable {
  padding: 0 !important;
} */

.flashcard .card-front {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.flashcard .card-front h4 {
  color: #ffffff;
  font-size: 2.4em;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
}


.flashcard .card-back {
  background: url(../../images/fke/fke-29.png) center no-repeat;
  background-size: cover;
  padding: 100px 50px 50px 50px;
}


.flashcard .card-back h4 {
  text-align: center;
  color: #EA5412;
  font-size: 2.4em;
  font-weight: 500;
  font-family: 'Ubuntu';
}

.flashcard .card-back p {
  font-weight: 300;
  color: #212121;
}

.flashcard .card-open {
  width: 71px;
  height: 71px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  border-radius: 50%;
  background: url(../../images/ico/ico-flashcard-open.svg) center no-repeat;
  background-size: contain;
  transition: opacity 300ms;
}

.flashcard .card.is-active .card-open {
  left: 50%;
  transform: translateX(-50%);
  bottom: 405px;
  background: url(../../images/ico/ico-flashcard-close.svg) center no-repeat;
  background-size: contain;
  animation: none;
}

.flashcard .card-open:hover {
  opacity: .75;
}

.flashcard .slideshow-nav {
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flashcard .slick-arrow {
  width: 45px;
  height: 41px;
  color: transparent;
  transition: opacity 300ms;
  font-size: 0em;
}

.flashcard .slick-arrow:hover {
  opacity: .5;
}

.flashcard .slideshow-prev {
  background: url(../../images/ico/ico-carousel-prev.png) center no-repeat;
}

.flashcard .slideshow-next {
  background: url(../../images/ico/ico-carousel-next.png) center no-repeat;
}

.flashcard .slick-arrow.slick-disabled {
  opacity: .1;
  pointer-events: none;/* para quando estiver desabilitado irá travar a */
}

.flashcard .slick-dots {
  display: flex;
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
}

.flashcard .slick-dots li {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff;
  margin: 0 4px;
  opacity: .2;
}

.flashcard .slick-dots li.slick-active {
  opacity: 1;
}

.flashcard .slick-dots li:hover {
  opacity: .7;
}

.flashcard .slick-dots li button {
  border: none;
  background: transparent;
  color: transparent;
  font-size: 0rem;
}

/*  questões   */

.question-objective {
  position: relative;
}

.question-objective input[type=radio] {
  display: none;
}/* disply: none serve para esconder a bolinha, tira o elemento da tela*/


.question-objective label{
  color: #4D4D4D;
  font-weight: bold;
  font-size: 1.8em;
  font-family: 'Verdana';
  line-height: 30px;
  margin-bottom: 35px;
  display: block;
  position: relative;
  padding-left: 35px;
}

.question-objective label:before {
  border-radius: 50%;
  content: '';
  height: 24px;
  left: 0;
  position: absolute;/* precisa sempre ser posição absolute */
  top:15px;
  width: 24px;
  background: #ffffff;
  border: 2px solid #4D4D4D;

}

.question-objective input[type=radio]:checked+label::before {
  border-color: #006853;
}

.question-objective input[type=radio]:disabled:hover+label:after {
  background: none;
}

.question-objective input[type=radio]:checked+label:after {
  border-radius: 50%;
  content: '';
  height: 16px;
  left: 4px;
  position: absolute;
  top: 19px;
  width: 16px;
  background: #006853;
}


.btn {
  padding: 4px 40px;
  background: #006853;
  border-radius: 18px;
  color: #ffffff;
  font-size: 2.4em;
  font-weight: medium;
  line-height: 54px;
  border: none;
  font-family: 'Ubuntu';
  cursor: pointer;
  display: block;
  margin: 25px auto 35px auto;
  transition: background 300ms !important;
}

.btn:hover {
  background: #158d1f;
  color:#FFFFFF;
}

/* .btn:disabled:hover {
  background: #ffffff;
  color: #3A2DAF;
} */

.btn:disabled {
  opacity: .7 !important;
  cursor: initial;
}