@media only screen and (max-width:1023px) {
    body {
        overflow-x: hidden;
        font-size: 8px;
    }

    .content-1024 {
        padding: 0 20px;
    }

    .header {
        height: initial;
        /* min-height: initial;  */
        min-width: initial;
        overflow-x: hidden;
    }

    .header .logo-header {
        position: absolute;
        top: 50px;
        left: 10px;
    }

    .header h1 {
        left: 20px;
        top: 250px;
    }

    .header h2 {
        left: 20px;
        top: 350px;
    }

    .header h3 {
        left: 20px;
        top: 500px;
    }

    .header h4 {
        left: 20px;
        top: 610px;
    }

    .img-background{
        background: #de9e80 !important;
        border-radius: 50px; 
        padding: 0px 20px;
        min-height: 400px; 
    }
 
    .img-2-background{
      background:  #006853;
      border-radius: 50px;
      max-width: initial;
      min-height: 300px;
      padding: 70px 70px;
      position: relative;
      
    } 

    .img-2-background::before{
        content: '';
        position: absolute;
        height: 50px;
        width: 50px;
        background: url('../../images/ico/ico-left.png') no-repeat;
        background-size: contain;
        top: 20px;
        left: 20px;
    }
    
     .img-2-background::after{
        content: '';
        position: absolute;
        height: 50px;
        width: 50px;
        background: url('../../images/ico/ico-right.png') no-repeat;
        background-size: contain;
        bottom: 20px;
        right: 20px;
     }

    .img-background .text{
        text-align: center;
    }

    .img-2-background .triangulo{
       position: absolute;
       top: -30px;
       left: 20px;

    }



    






}